.rrss{
    width: 2rem;
    position: relative;
    margin-right: 0;
}

footer{
    display: flex;
    height: max-content;
    width: 100%;
    align-content: center;
    margin: 10px;
    align-items: center;
    text-decoration: none;


}

.descripcion{
    margin-left: 10px;}
