/* -------------------------------------------------------------------------- */
/*                                   TEXTOS                                   */
/* -------------------------------------------------------------------------- */

/* TIPO DE TEXTO */
.textoNormal {
    font-style: normal;
}

.textoGrueso {
    font-style: bold;
}

.mayuscula {
    text-transform: uppercase;
}

/* Posicionamiento */

.textCenter {
    text-align: center;
}

.textRight {
    text-align: right;
}

.textLeft {
    text-align: left;
}

/* FUENTES*/

.montserrat{
    font-family: 'Montserrat', sans-serif;
}


h1{
    color: white;
}
h2{
    color: white;
}
h3{
    color: white;
}
h4{
    color: white;
}
h5{
    color: white;
}
h6{
    color: white;
}


